#gallery-container {
    grid-template-columns: 1fr;
}

#gallery{
    width: 100%;
    align-items: center;
}

.gallery-image {
    width: 90%;
    margin-left: 2px;
}

#navbar{
    height: 110px;
    position: fixed;
}

#navbar-container{
    flex-direction: column;
    padding: 20px 0;
}
#navbar-items{
    flex-direction: column;
    text-align: center;
    width: 100%;
}

#navbar li:nth-child(2){
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}
#navbar-items li{
    padding: 5px;
}