#gallery-container {
    grid-template-columns: 1fr;
}

#gallery{
    width: 100%;
    align-items: center;
    padding-left: 0.40px;
    padding-right: 1px;
}

/* Showcase */
#showcase-container {
    padding: 40px;
}

.gallery-image {
    width: 100%;
}
#navbar {
    height: 180px;
}

#navbar-container {
    flex-direction: column;
    padding: 20px 0;
}

#navbar-items {
    flex-direction: column;
    text-align: center;
    width: 90%;
}

#navbar-items li:nth-child(2) {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}