#gallery-container {
    grid-template-columns: 1fr;
}

.gallery-image {
    width: 100%;
}

@media only screen and (min-device-width: 1201px) {
	#gallery-container {
        grid-template-columns: 1fr;
    }
    
    .gallery-image {
        width: 100%;
        display: block;
        left: 20px;
        position: absolute;
    }
}

@media only screen and (max-device-width: 100px) {
	#gallery-container {
        grid-template-columns: 1fr;
    }
    
    .gallery-image {
        width: 100%;
        display: block;
        left: 20px;
        position: absolute;
    }
}