button{
    background-color: #000;
    color: #f00;
    margin: 3px;
    cursor: pointer;
}
#JOGOS{
    color: #fbd000;
    font-size: 30pt;
    padding: 15px;
    position: absolute;
    left: 535px;
    top: 209px;
    width: 150px;
    background-color: rgb(10, 10, 10);
}
.image1{
    position: absolute;
    left: 0px;
    top: 330px;
}
.image2{
    position: absolute;
    left: 10px;
    top: 720px;
}
.image3{
    position: absolute;
    left: 1130px;
    top: 720px;
}
.image4{
    position: absolute;
    left: 1020px;
    top: 330px;
}

#p1{
    color: #00c7ce;
    font-family: Tahoma;
    font-size: 40px;
    left: 440px;
    top: 106px;
    position: relative;
}
.p2{
    color: #43B057;
    font-family: sans-serif;
}
.h3{
    color: #E52521;
}
   #p{
    border-right: #f00 solid 100px;
   }
   #DA{
       color: #000
    }
    
    h1{
        width: 500px;
    }
    .articled{
        padding: 5px;
        background-color: rgb(0, 0, 0);
        margin-bottom: 30px;
    }
    .articledd{
        border: 0.24px solid #ff0400;
        background-color: #43b047;
        margin-bottom: 1px;
        width: 1317px;
        padding: 14px;
        position: absolute;
        left: 0px;
        top: 350px;
        height: 2450px;
    }
.touro{
    display: flex;
    position: absolute;
    left: 527px;
    top: 10px;
}
#cobrinha{
    position: absolute;
    left: 461px;
}
#velha{
    position: absolute;
    left: 461px;
    top: 400px;
}
#ping{
    position: absolute;
    left: 461px;
    top: 800px;
}
#nave{
    position: absolute;
    left: 461px;
    top: 1250px;
}
#flappy{
    position: absolute;
    left: 461px;
    top: 1650px;
}
#bola{
    position: absolute;
    left: 461px;
    top: 2120px;
}