button{
    background-color: #000;
    color: #f00;
    margin: 3px;
    cursor: pointer;
}
#JOGOS{
    color: #fbd000;
    font-family: 100pt;
    padding: 5px;
}
body{
    left: 50%;
}
.o{
    font-family: sans-serif;

    color: #1000E0;

    padding-left: 20px; 

    background-color: #FF004F;

    width: 490px;

    height: 40px;

    align-items: center;

    border: #049CD8 solid 2px;

    border-radius: 20px 20px;
}
#p1{
    color: #000000;
    font-family: sans-serif;
    left: 50%;
    top: 60%;
}
.p2{
    color: #43B057;
    font-family: sans-serif;
}
.h3{
    color: #E52521;
}
.p10{
    color: #E52521;
}
.p12{
    color: #fff;
}
.h2{
    width: 288px;

    display: inline;

    height: 288px;
}
h6{
    font-size: 5px;
}

summary::-webkit-details-marker{
    color:#f00; 
   }
   details[open] summary ::-webkit-details-marker{
    color:#00f; 
   }
   summary{
       color: #049CD8;
       cursor: pointer;
   }
   summary:hover{
       color: rgb(0, 255, 136);
       cursor: pointer;
   }
   details{
       color: #049CD8;
   }
   .h4{
       display: block;
       display: inline;
       width: 315px;
       height: 290px;
   }
   .h3{
       display: inline;
   }

   #d{
    display: inline;
   }
   #a{
    display: inline;
   }
   #p{
    border-right: #f00 solid 100px;
   }
   span{
       background-color: #00f;
       border: #E52521 solid 2px;
       height: 200px;
   }
   #DA{
       color: #000
    }
    article{
        padding: 15px;
        border: 1px solid #000;
        background-color: #43b047;
        margin-bottom: 1px;
    }
    article h1{
        color: #f00;
}