button{
    background-color: #000;
    color: #f00;
    margin: 3px;
    cursor: pointer;
}
#JOGOS{
    color: #fbd000;
    font-size: 30pt;
    padding: 15px;
    position: absolute;
    left: 535px;
    top: 209px;
    width: 150px;
    background-color: rgb(10, 10, 10);
}
.image1{
    position: absolute;
    left: 475px;
    top: 330px;
}
.image2{
    position: absolute;
    left: 570px;
    top: 720px;
}
.image3{
    position: absolute;
    left: 540px;
    top: 950px;
}
.image4{
    position: absolute;
    left: 470px;
    top: 1300px;
}

#p1{
    color: #00c7ce;
    font-family: Tahoma;
    font-size: 40px;
    left: 440px;
    top: 106px;
    position: relative;
}
.p2{
    color: #43B057;
    font-family: sans-serif;
}
.h3{
    color: #E52521;
}
   #p{
    border-right: #f00 solid 100px;
   }
   #DA{
       color: #000
    }
    .article{
        border: 0.24px solid #ff0400;
        background-color: #43b047;
        margin-bottom: 1px;
        width: 340px;
        padding: 14px;
        position: absolute;
        left: 956px;
        top: 300px;
        height: 1210px;
    }
    h1{
        width: 500px;
    }
    .articled{
        padding: 5px;
        background-color: rgb(0, 0, 0);
        margin-bottom: 30px;
    }
    .articledd{
        border: 0.24px solid #ff0400;
        background-color: #43b047;
        margin-bottom: 1px;
        width: 367px;
        padding: 14px;
        position: absolute;
        left: 0px;
        top: 300px;
        height: 1210px;
    }
.touro{
    display: flex;
    position: absolute;
    left: 570px;
    top: 10px;
}