@font-face{
	font-family: emulogic;
	src: url("../fonts/emulogic.ttf");
}
h3{
	color: blue;
}
#f{
	color: red;
}

.botoes {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.botoes button{
	margin: 20px;
	left: 300px;
	top: 500px;
	color: #000000;
	background-color: #e52521;
	display: flex;
}

@media only screen and (min-device-width: 500px) {
	#moveEsquerda{
		position: absolute;
		display: none;
	}
	.botoes button{
		position: absolute;
		display: none;
	}
  }

