@font-face{
	font-family: emulogic;
	src: url("../fonts/emulogic.ttf");
}
h3{
	color: blue;
}
#f{
	color: red;
}
#btnEsquerda{
	position: absolute;
	left: 300px;
	top: 500px;
	color: #000000;
	background-color: #e52521;
}
#btnDireita{
	position: absolute;
	left: 905px;
	top: 500px;
	color: #000000;
	background-color: #e52521;
}
#btnAtira{
	position: absolute;
	left: 640px;
	top: 550px;
	color: #000000;
	background-color: #e52521;
}