@font-face{
	font-family: emulogic;
	src: url("../fonts/emulogic.ttf");
}
h3{
	color: blue;
}
#f{
	color: red;
}

.botoes {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.botoes button{
	margin: 20px;
	left: 650px;
	top: 500px;
	color: #000000;
	background-color: #e52521;
	display: flex;
}

@media only screen and (max-device-width: 100px) {
	#moveEsquerda{
		position: absolute;
		display: none;
	}
	.botoes button{
		position: absolute;
		display: none;
	}
}

@media only screen and (min-device-width: 1201px) {
	#moveEsquerda{
		position: absolute;
		display: none;
	}
	.botoes button{
		position: absolute;
		display: none;
	}
}

#canvas{
	width: 400px; 
	height: 500px;
	position: relative; 
	margin: 0 auto;
	border: solid 6px blue;
	background-color: #fff;
	top: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    display: inline-block;
    padding: 15px 60px;
    font-size: 1.1rem;
    text-transform: uppercase;
    background: #111;
    color: #eee;
    border-radius: 5px;
    transition: background 500ms ease;
}

.btn:hover {
    cursor: pointer;
    background: #000;
}